* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

p {
  text-align: center;
}

.classy {
  background: whitesmoke;
  font-family: sans-serif;
}

#scoreboard {
  font-size: 16px;
  color: purple;
}

audio {
  width: 50%;
}
