@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
h1 {
  display: flex;
  justify-content: center;

  font-family: "Roboto:400", sans-serif;
}

p {
  font-family: "Roboto:100", sans-serif;
  font-size: 1em;
}
a {
  font-family: "Roboto:700", sans-serif;
}

:root {
  font-size: 16px;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

main {
  margin-left: 5rem;
}

body::-webkit-scrollbar {
  width: 0.25rem;

}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

.navbar {
  width: 5rem;
  height: 100vh;
  position: fixed;
  background-color: var(--bg-primary);
  
}